{% extends 'base.html.twig' %}
{% block title %} Gestion des contrats {% endblock %}
{% block contenu %}

    <div id="contenu">
        <h2>Gestion des livraisons</h2>
        <a href="{{ path('gerer_livraisons_lister') }}">
            Liste des contrats
        </a>&nbsp;

        {% if (leContrat != NULL) %}
            {% set id = leContrat.getnocontrat() %}
            {% set date = leContrat.getDatecontrat()| date ('d-m-Y') %}
            {% set cereale = leContrat.getCereale().getCodecereale() %}
            {% set negociant = leContrat.getNegociant().getNonegociant()~'-'~leContrat.getNegociant().getNomnegociant() %}
            {% set qtecde = leContrat.getQteCde() %}
            {% set etat = leContrat.getEtatcontrat() %}
            {% set livre = leContrat.getQteTotLiv() %}
            {% set reste = leContrat.getQtecde() - leContrat.getQteTotLiv() %}


            {% if (reste > 0) %}
                <a href="{{ path('gerer_livraisons_ajouter', {'idContrat' : id}) }}">
                    Ajouter une livraison
                </a>&nbsp;  <br> <br>
            {% else %}
                <br> <br>
            {% endif %}

            <fieldset>
                <legend>Consulter un contrat</legend>
                <table>
                    <tr>
                        <td class="h-entete">ID</td>
                        <td class="h-valeur">{{ id }}</td>
                    </tr>
                    <tr>
                        <td class="h-entete">Date</td>
                        <td class="h-valeur">{{ date }}</td>
                    </tr>
                    <tr>
                        <td class="h-entete">Négociant</td>
                        <td class="h-valeur">{{ negociant }}</td>
                    </tr>
                    <tr>
                        <td class="h-entete">Céréale</td>
                        <td class="h-valeur">{{ cereale }}</td>
                    </tr>
                    <tr>
                        <td class="h-entete">Quantité</td>
                        <td class="h-valeur">{{ qtecde }}</td>
                    <tr>
                        <td class="h-entete">Etat</td>
                        <td class="h-valeur">{{ etat }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="h-entete">Livré</td>
                        <td class="h-valeur">{{ livre }}</td>
                    </tr>
                    <tr>
                        <td class="h-entete">Reste à livrer</td>
                        <td class="h-valeur">{{ reste }}</td>
                    </tr>
                </table>


                {% if (livre  != 0) %}
                    {% include 'gerer_livraisons/_livraisons.html.twig' %}
                {% endif %}
            </fieldset>
        {% endif %}
    </div>
{% endblock %}
